#add-book #hide {
  width: 30px;
}

#add-book label {
  line-height: 52px;
}

#tabbed-content {
  margin-top: 60px;
}

#tabbed-content li {
  display: inline-block;
  padding: 10px 14px;
  background: #ddd;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 10px;
}

#tabbed-content li .active {
  background: blue;
  color: white;
}

#tabbed-content .panel {
  display: none;
  border: 1px solid #ddd;
  padding: 0 10px;
  border-radius: 4px;
}

#tabbed-content .panel.active {
  display: block;
}